.bg-black-semi-transparent{
    background-color: rgba(0,0,0,0.3);
}
.strongerFadedImage{
    opacity: 0.28;
}
.overlayTextRequirement{
    position: absolute;
    bottom: 1%;
}
.formLabelBigger{
    font-size: 120%;
    font-weight: bold;
}
