.table-no-wrap{
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.link-as-text, .link-as-text:visited, .link-as-text:hover, .link-as-text:active{
    color:white;
    text-decoration: none;
}
body{
    background: #f3f3f3;
}
.text-green{
    color: #2a9055;
}
.btn-green{
    background-color: #2a9055;
    color: white;
}
.btn-green:hover{
    background-color: #37b86d;
    color: white;
}
.btn-green-light{
    background-color: #49af6e;
    color: white;
}
.btn-green-light:hover{
    background-color: #54d68a;
    color: white;
}
.bg-green{
    background-color: #2a9055;
}
.bg-green-light{
    background-color: #49af6e;
}
.bg-black{
    background: black;
}
.rhombus-right{
    -webkit-transform: skewX(-10deg);
    -moz-transform: skewX(-10deg);
    -ms-transform: skewX(-10deg);
    transform: skewX(-10deg);
}
.rhombus-left{
    -webkit-transform: skewX(10deg);
    -moz-transform: skewX(10deg);
    -ms-transform: skewX(10deg);
    transform: skewX(10deg);
}
.rhombus-left-content{
    -webkit-transform: skewX(-10deg);
    -moz-transform: skewX(-10deg);
    -ms-transform: skewX(-10deg);
    transform: skewX(-10deg);
}
.rhombus-right-content{
    -webkit-transform: skewX(10deg);
    -moz-transform: skewX(10deg);
    -ms-transform: skewX(10deg);
    transform: skewX(10deg);
}
.rounded-corners{
    border-radius: 25px;
}
.overlayTextCenter{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.round-top-left{
    border-top-left-radius:15px;
}
.round-top-right{
    border-top-right-radius:15px;
}
.round-bottom-left{
    border-bottom-left-radius:15px;
}
.round-bottom-right{
    border-bottom-right-radius:15px;
}
.round-all-edges{
    border-top-left-radius:15px;
    border-top-right-radius:15px;
    border-bottom-left-radius:15px;
    border-bottom-right-radius:15px;
}
.fadedImage{
    opacity: 0.4;
}
.fadedText{
    opacity: 0.6;
}
.input-required:after{
    content: " *";
    color: red;
}
.bg-gray{
    background-color: #e7e7e7;
}

